{% extends "base.html" %}
{% block content %}
<h1>About Me</h1>
<p>Hi, I'm Suraj Nagendra Naik, a Python and Full Stack Developer.</p>
<p>This is my personal portfolio showcasing my skills and projects.</p>
<p>As a Web Development Intern at Micro IT, I worked on developing and</p>
<p> improving modern web applications using technologies such as Python, Flask, HTML/CSS, </p>
<p>and JavaScript. The internship focused on practical implementation of programming, UI/UX design,</p>
<p> and backend logic for real-world projects.</p>
{% endblock %}
